<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>

<body>
    <section class="hero is-danger">
        <div class="hero-body">
            <div class="container">
                <h1 class="title" style='text-align:center'>
                    What's the weather in your city?
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                {{ form.name }}
                            </div>
                            <div class="control">
                                <button type="submit" class="button is-success">
                                    Enter City
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <div class="box">
                        <article class="media">
                          {% if request.POST %}
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ city|capfirst }}</span>
                                        <br>
                                        <span class="subtitle">{{temperature }}° C</span>
                                        <br> {{ description }}
                                    </p>
                                </div>
                            </div>
                            {% else %}
                              <span style='border-radius: 8px;color:white;font-size:23px; background:#FF1493;padding:5px 4px;text-align:center;'>Enter city name above field and see current weather</span>
                            {% endif %}
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">

    </footer>
</body>

</html>
